<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayoprez.speechhelpercards">

    <application
        android:name=".dependency_inyection.SHCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme" >
        <activity
            android:name="com.ayoprez.speechhelpercards.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AddDeckActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.activity.HelperCardsActivity"
            android:label="@string/app_name"/>
        <!--<activity-->
            <!--android:name=".CardsActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="landscape" />-->
        <!--<activity-->
            <!--android:name="com.ayoprez.preferences.Preferences$ContactWebview"-->
            <!--android:label="@string/app_name" />-->
        <!--<activity-->
            <!--android:name="com.ayoprez.preferences.Preferences"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/Preferences" />-->
        <!--<activity-->
            <!--android:name="com.ayoprez.newcards.NewCardsActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait" />-->
    </application>

</manifest>